.filtersBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.searchBox {
  display: flex;
  align-items: center;
  background-color: #ffecec;
  padding: 12px;
  border-radius: 24px;
  width: 100%;
  max-width: 800px;
}

.searchIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: red;
}

input {
  border: none;
  background: none;
  font-size: 16px;
  color: red;
  outline: none;
  width: 100%;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 45px;
  box-sizing: border-box;
}

.heroCount {
  font-size: 20px;
  color: #8C8C8C;
  font-weight: 400;
  text-align: left;
  flex: 1;
  white-space: nowrap;
}

.actions {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1;
  justify-content: flex-end;
  white-space: nowrap;
}

.sortContainer, .favoritesContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sortButton, .favoritesButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 16px;
  color: red;
  cursor: pointer;
  transition: color 0.3s;
}

.sortButton:hover, .favoritesButton:hover {
  color: darkred;
}

.icon {
  width: 15px;
  height: 25px;
  margin-right: -5px;
}

.toggleIcon {
  width: 50px;
  height: 30px;
  cursor: pointer;
}